*.pyc
*.pyo
venv
.installed.cfg
downloads
src/*.egg-info
lib
lib64
*~
*.orig
*.rej
.installed.cfg
__minitage__*
bin/*
log
media/uploads
tmp
.DS_Store
*.json
*~
media/temp
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
pip-log.txt
.coverage
.tox
nosetests.xml
MANIFEST
*.egg-info
