{% extends "base.html" %}

{% block title %}Archive of Past Plans - {{ block.super}}{% endblock %}

{% block main_content %}



    <div class="hero-unit">
        <h3>The training that was offered in the past.</h3>
        <p>Archive of trainings shared so far. </p>
        
      </div>



<script type="text/javascript">
    $(function () {
        $('body').popover({
            selector: '[data-toggle="popover"]',
            html : true,
        });

        $('body').tooltip({
            selector: 'a[rel="tooltip"], [data-toggle="tooltip"]'
        });
    });
</script>



      <div class="bs-docs-example">
            <div class="alert alert-info">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Tip:</strong> Doing a new employee training?  Invite outsiders. They gain insight into your organization at no cost to you.
            </div>
          </div>



    {% if events %}

    <div class="row">
        
        {% for events in events %}
   
                <div class="span4"> <div class="well">
                    
        <p><h4>{{ events.title|title }}</h4></p>
         <p>{{ events.description }}</p>
         <p>{{ events.audience }}</p>
                    <div class="btn btn-mini btn-primary" data-toggle="popover" data-placement="btm" data-content="
             {% if events.title %}<strong>Title: </strong>{{ events.title|title }}<br>{% endif %}
             {% if events.date_class_starts %}<strong>Date Starts: </strong>{{ events.date_class_starts }}<br>{% endif %}
             {% if events.where %}<strong>Where: </strong>{{ events.where }}<br>{% endif %}
             {% if events.description %}<strong>Description: </strong>{{ events.description }}<br>{% endif %}
             {% if events.fullfills %}<strong>Requirements To Be Met: </strong>{{ events.fullfills }}<br>{% endif %}
             {% if events.audience %}<strong>Audience: </strong>{{ events.audience }}<br>{% endif %}
             {% if events.cost %}<strong>Cost: </strong>{{ events.cost }}<br>{% endif %}
             {% if events.person %}<strong>Contact: </strong>{{ events.person }}<br>{% endif %}
             {% if events.contact_email %}<strong>Email: </strong>{{ events.contact_email }}<br>{% endif %}
             {% if events.contact_phone %}<strong>Phone: </strong>{{ events.contact_phone }}<br>{% endif %}
             ">details</div>
     </div>
          </div>
        {% endfor %}
         </div>
        
    {% else %}
        <p>Nothing scheduled yet.</p>
    {% endif %}


    
{% endblock %}


