{% extends "base.html" %}

{% block title %}Desired Training - {{ block.super}}{% endblock %}

{% block extra_head %}

 <script>
$(function() {
$( "#draggable" ).sortable({
revert: true
});
$( "#draggable" ).draggable({
connectToSortable: "#draggable",
helper: "clone",
revert: "invalid"
});
$( "ul, li" ).disableSelection();
});
</script>

{% endblock %}



{% block main_content %}



    <div class="hero-unit">
        <h3>Find Training With Other Organizations</h3>
        <p>Training going on in the community.</p>
        
      </div>



<script type="text/javascript">
    $(function () {
        $('body').popover({
            selector: '[data-toggle="popover"]',
            html : true,
            placement: "bottom",
        });

        $('body').tooltip({
            selector: 'a[rel="tooltip"], [data-toggle="tooltip"]'
        });
    });
</script>


      <div class="bs-docs-example">
            <div class="alert alert-info">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Tip:</strong> Need to fly someone from out of state to conduct a training, but can't afford it?  Post it here, then share the cost with others in the community.
            </div>
          </div>






    {% if events %}

    <div class="row" id="draggable">
        
        {% for events in events %}

        
   
             <div class="span4"> <div class="well well-small">
                    
        <p><h4>{{ events.title }}</h4></p>
         <p>{{ events.description }}</p>
         <p>{{ events.audience }}</p>
         <div  class="btn btn-mini btn-primary" data-toggle="popover" data-placement="btm" data-content="
             {% if events.title %}<strong>Title: </strong>{{ events.title }}<br>{% endif %}
             {% if events.organization %}<strong>Organization Needing: </strong>{{ events.organization }}<br>{% endif %}
             {% if events.description %}<strong>Description: </strong>{{ events.description }}<br>{% endif %}
             {% if events.fullfills %}<strong>Requirements To Be Met: </strong>{{ events.fullfills }}<br>{% endif %}
             {% if events.audience %}<strong>Audience: </strong>{{ events.audience }}<br>{% endif %}
             {% if events.cost %}<strong>Cost: </strong>{{ events.cost }}<br>{% endif %}
             {% if events.person %}<strong>Contact: </strong>{{ events.person }}<br>{% endif %}
             {% if events.contact_email %}<strong>Email: </strong>{{ events.contact_email }}<br>{% endif %}
             {% if events.contact_phone %}<strong>Phone: </strong>{{ events.contact_phone }}<br>{% endif %}
             ">details</div>
     </div>
          </div>


        {% endfor %}
         </div>
        
    {% else %}
        <p>Nothing scheduled yet.</p>
    {% endif %}

 <script>
$(function() {
$( "#draggable" ).draggable();
});
</script>
     
{% endblock %}
